.registers 
  background: orange
  .register-names, .register-values
    height: 50%
    padding: .5em
    padding-right: 0
    font-family: monospace
    font-size: 1.25em
    div
      font-weight: bolder
      width: calc(100% / 5 - 0.5em )
      margin-right: .5em
      height: 100%
      float: left
      padding: .35em
      text-align: center
      background: #444
      color: #000
  .register-names
    background: yellow
    padding-bottom: 0.25em
    div
      background: orange
  .register-values
    font-size: 1em
    background: yellow
    padding-top: 0.25em
    div
      background: yellow * 0.6
      color: #000
