.memory 
  width: 16em
  .memory-item
    position: relative
    float: left
    width: 2em
    .address
      position: absolute
      display: none;
    &:hover
      .address
        display: block;
        background: #fff
        color: black;
        top: -1em;


